pandas
scikit-learn
seaborn
matplotlib
python-decouple==3.8
pandas_ta>=0.3.14b0

#pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
#pip install "numpy<2" "pandas_ta>=0.3.14b0" --pre
#pip install pyqt5